@import "./base.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "SF Mono", "Monaco", "Cascadia Code", "Roboto Mono", "Consolas", "Courier New", monospace;
  background: #000;
  color: white;
  overflow: hidden;
}

#app {
  height: 100svh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

